		body {
			background-color: #f2f2f2;
		}

		.campos {
			background-color: #ffcc00;
			box-shadow: 0 10px 10px #888888;
		}

		.campos .container .form-signin {
			float: right;
			width: 330px;
		}

		.texto {
			text-align: center;
			background-color: #f2f2f2;
		}

		.form-signin {
			max-width: 330px;
			padding: 15px;
			margin-left: 65%;
		}

		.form-signin .form-signin-heading {
			font-weight: bold;
		}

		.navbar{
			border: none;
			border-radius: 0;
			margin-bottom: 0;
		}

		.navbar-login {
			background-color: #f2f2f2;
		}

		.navbar-dashboard {
			background-color: #000000;
		}

		.navbar-header-index{
			float: left;
			color: #e1e1e3;
		}

		.navbar-header-user{
			float: right;
			color: #e1e1e3;
		}

		.navbar-header-login {
			color: #000000;
			float: right;
		}

		.jumbotron .container p {
			color: #b3b3b3;
		}

		input[type="password"] {
			margin: 10px 0;
		}

		/* Global Styles */

body {
    margin-top: 100px;
    background-color: white;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}


.jumbotron.campos{
    background: #ffcc00 url("../imagens/banner_fd.gif") repeat-x top left;
}

.imgLoginAlternativo{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.imgLoginAlternativo span{
    transition: all 0.5s;
    height: 32px;
    width: 32px;
    display: block;
}

/* Side Navigation */
@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
		background: #ffcc00 url("../imagens/banner_fd.gif") repeat-y right bottom;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
        color: #fff;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    background-color: #ffcc00;
}

.side-nav>li>ul>li>a:hover {
	background-color: #000;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
	color: #000;
	font-weight: bold;
	background-color: #ffcc00;
}

.footer {
	background-image: url('../imagens/grama.png');
	background-repeat: repeat-x;
	width: 100%;
    height: 74px;
    background-color: #f2f2f2;
}

.footer .row-fluid .col-md-12 {
	margin-top: 44px;
	background-color: #558f07;
	padding-top: 5px;
  	min-height: 30px;
  	color: #ffffff;
  	text-align: center;
}

.footer .row-fluid span {
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-fixed-bottom {
	background-image: url('../imagens/grama.png');
	background-repeat: repeat-x;
	height: 74px;
	background-color: transparent;
}

.navbar-fixed-bottom .navbar-text {
    height: 30px;
    background-color: #558f07;
    width: 100%;
    margin: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.centerRodape{
	padding-top:5px;
	text-align:center;
}


a.linkRodape{
	transition: all 0.5s;
}

a.linkRodape{
		height:40px;
		font-size:10px;
		padding-left:10px;
		padding-right:10px;
		padding-bottom:10px;
		text-decoration:none;
		color:white;
		cursor:pointer;
}
a.linkRodape:hover{
	text-decoration:none;
	color:black;
}

.menuExpansivo{
    color: white;
    font-weight: bold;
    background-color: black;
}

.collapse.in>li>a{
    margin-top: 3px;
    border-left: 3px dotted black;
    padding-left: 10px;
    margin-left: 50px;
}

@media(max-width:485px) {
    .navbar-fixed-bottom .navbar-text{
        height: 60px;
    }
    .navbar-fixed-bottom{
        height: 104px;
    }
}

#iconTwitter{
    background-image: url('../imagens/twitter02_dark.png');   
}

#iconFacebook{
    background-image: url('../imagens/facebook_dark.png');   
}

#iconGoogle{
    background-image: url('../imagens/google_dark.png');   
}

#iconTwitter:hover{
    background-image: url('../imagens/twitter02_color.png');   
}

#iconFacebook:hover{
    background-image: url('../imagens/facebook_color.png');   
}

#iconGoogle:hover{
    background-image: url('../imagens/google_color.png');   
}