	<nav class="navbar navbar-default navbar-login">
		<div class="container-fluid">
			<div class="navbar-header navbar-header-login">
				<span class="navbar-brand">Faça login usando</span>
				<a class="navbar-brand imgLoginAlternativo" href="#">
					<span id="iconTwitter"></span>
				</a>
				<a class="navbar-brand imgLoginAlternativo" href="#">
					<span id="iconFacebook"></span>
				</a>
				<a class="navbar-brand imgLoginAlternativo" href="#">
					<span id="iconGoogle"></span>
				</a>
			</div>
		</div>
	</nav>

	<div class="jumbotron campos">
		<form class="form-signin">
			<span class="form-signin-heading">Acessar plataforma</span>
			<br />
			<span class="form-signin-heading"><a>Ainda não é cadastrado?</a></span>
			<input type="text" name="email" value="" placeholder="digite seu e-mail" class="form-control" ng-model="login.email" required>
			<input type="password" name="senha" value="" placeholder="digite sua senha" class="form-control" ng-model="login.senha" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="efetuarLogin(login)">Entrar</button>
		</form>
	</div>

	<div class="jumbotron texto">
		<div class="container">
          <h2>Plataforma "Onde tem jogo?"</h2>
          <br/>
          <p class="lead">Para você: Encontre de maneira fácil e rápida locais onde você possa ver e torcer pelo seu time de coração.</p>
          <p class="lead">Para seus amigos: Encontre rapidamente seus amigos para juntar forças e torcer pelo seu time de coração.</p>
          <p class="lead">Para sua empresa: Divulgue para todos o que sua empresa oferece de melhor.</p>
          <p class="lead">"Onde tem jogo?" a plataforma para você, para seus amigos e para sua empresa!</p>
        </div>
    </div>